*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}



/*Group1*/
.group1 {
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0, 0, 0, 0.9)), url(images/background1.png);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
}
#navbar {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    padding: 2% 6%;
}
#links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
}
#links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
#links a:hover {
    color: #f64b3c;
    transition: 0.5s;
}

.group1-text{
    width: 88%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 60px;

}
.group1-text p{
    margin: 10px 0 40px;
    color: #fff;
    font-size: 36px;
}
.hero-btn{
    color: #fff;
    border: 1px solid #f64b3c;
    border-radius: 100px;
    padding: 12px 60px;
    font-size: 20px;
    background: #f64b3c;
    font-weight: 600;
}
.hero-btn:hover{
    border: 1px solid #fdc200;
    background-color: #fdc200;
    transition: 1s;
    color: black;
    font-size: 20px;
}
/*Group1*/



/*Group2*/
.group2{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(images/background2.png);
}
.group2 h1{
   font-size: 100px;
   font-weight: 600; 
   color: #f64b3c;
   padding-top: 75px;
   text-align: center;
}
.row{
    padding-top: 180px;
    display: flex;
    gap: 100px;
    text-align: center;
    margin: 0 20%;
}
.row-col{
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    padding: 20px 5px;
}
h2{
    text-align: center;
    font-weight: 600;
    color: #f64b3c;
    padding-bottom: 10px;
}
.group2 img{
    padding: 25px;
}
select{
    width: 80%;
    padding-bottom: 25%;
}
/*Group2*/

/*Group3*/
.group3{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-color: #f64b3c;
}
.group3 h1{
   font-size: 75px;
   font-weight: 600; 
   color: #fff;
   padding: 75px 0 25px;
   text-align: center;
}
.group3 .row{
    display: flex;
    text-align: center;
    margin: 0 20%;
    background-color: #fff;
    flex-basis: 31%;
    border-radius: 10px;
    padding: 20px 5px;
    justify-content: center;
}
h3{
    text-align: left;
    font-weight: 600;
    color: #f64b3c;
    padding: 25px 0 25px;
}
.answers{
    list-style: none;
    text-align: left;
}
textarea{
    width: 100%;
}
.comment{
    padding-bottom: 25%;
}
/*Group3*/



/*Group4*/
.group4{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-color: #f6eedf;
    display: grid;
}
.group4-text {
    text-align: center;
    font-size: 50px;
    padding: 275px 0;
}
.group4 h1{
    font-weight: 600;
    color: #f64b3c;
    padding-bottom: 50px;
}
.group4 label{
    margin: 0 0 40px;
    color: #f64b3c;
    font-size: 26px;
    padding-bottom: 50px;
}
form {
    display: flex;
}
input {
    border: 0px;
    border-radius: 100px;
    padding: 12px 60px;
    font-size: 15px;
    font-weight: 600;
}
input[type=text] {
    background-color: #fff;
    flex-grow: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 32%;
}
::placeholder {
    color: #c3b1a2;
}
input[type=button] {
    color: #fff;
    background-color: #f64b3c;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 32%;
}
input[type=button]:hover {
    border: #fdc200;
    background-color: #fdc200;
    transition: 1s;
    color: black;
    font-size: 15px;
}
/*Group4*/



/*Group5*/
.group5{
    background:#222222
}
.group5 .footersize {
    height: 100vh;
}
.group5 .row{
    text-align: left;
    justify-content: space-around;
}
.group5 h1 {
    margin:0;
    font-weight:600;
    color: #fff;
    padding: 150px 0 25px;
}
.group5 p {
    font-size:16px;
    line-height:20px;
    font-weight:300;
    color: white;
}
.group5 ul li {
    list-style:none;
    color: white;
    line-height: 40px;
}
.group5 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.icons .fa-brands{
    color: white;
    padding-top: 25px;
    font-size: 32px;
    text-decoration: none;
}
/*Group5*/



/*EXTRA -- PAGE NOT FOUND -- WHEN CLICK ON ANY LINKS*/
.error {
    background-image:url(images/background3.jpg);
    min-height: 100vh;
    background-size: cover;
}
.error-text{
    width: 88%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 25px;

}
.error-text p{
    padding-top: 25px;
    margin: 10px 0 40px;
    font-size: 25px;
    font-weight: 300;
}
.error-btn{
    display: inline-block;
    color: #fff;
    border: 2.5px solid #fff;
    padding: 12px 60px;
    font-size: 20px;
    background: transparent;
    font-weight: 600;
}
.error-btn:hover{
    border: 2.5px solid #f64b3c;
    background-color: #f64b3c;
    transition: 1s;
    color: #fff;
    font-size: 20px;
}